<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Model</th>
    <th scope="col">Type</th>
    <th scope="col">Year</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let car of cars; index as i" (click)="showCarInfo(car)">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ car.name }}</td>
    <td>{{ car.model }}</td>
    <td>{{ car.type }}</td>
    <td>{{ car.year }}</td>
  </tr>
  </tbody>
</table>
