<form [formGroup]="carFormGroup">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Name/Model</ng-template>
      <ng-template ngbTabContent>
        <input formControlName="name" name="name" placeholder="Name" type="text">
        <input formControlName="model" name="model" placeholder="Model" type="text">
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Type/Year</ng-template>
      <ng-template ngbTabContent>
        <input formControlName="year" name="year" placeholder="Year" type="number">
        <input formControlName="type" name="type" placeholder="type" type="text">
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <button class="btn btn-success" *ngIf="!editCar" [disabled]="carFormGroup.invalid" (click)="addCar()">Add new Car</button>
  <button class="btn btn-success" *ngIf="editCar" [disabled]="carFormGroup.invalid" (click)="editCarInfo()">Save</button>
</form>
