<div class="container-fluid">
  <div class="d-flex flex-row justify-content-between button__block">
    <button class="btn btn-primary" (click)="addNewCar()">Add</button>
    <button class="btn btn-secondary" (click)="showForm = false">Close</button>
  </div>
  <div class="row flex-row justify-content-between content__container">
    <div [ngClass]="showForm ? 'col-6' : 'col-12'">
      <app-cars-list (editCarInfo)="editCar($event)"></app-cars-list>
    </div>
    <div *ngIf="showForm" class="col-6">
      <app-car-info-form></app-car-info-form>
    </div>
  </div>
</div>
